# **Data Cleaning**

In [ ]:
import pandas as pd
import numpy as np

**1. Loading Data**

In [ ]:
# Load the Excel file
df = pd.read_excel('/content/Mode_Craft_Ecommerce_Data (3).xlsx')

# Preview basic structure
print("Initial shape:", df.shape)
df.head()

Initial shape: (541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
1,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
2,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
3,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom

**2. Initial Assessment**

In [ ]:
# Check data types and nulls
df.info()

# Summary statistics
df.describe(include='all')

# Check for missing values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

**3. Rename Column and Handle Missing Values**

In [ ]:
# Rename 'Description' to 'Product Name' for clarity
df.rename(columns={'Description': 'Product Name'}, inplace=True)

In [ ]:
# Fill missing product descriptions with "Unknown Product"
df['Product Name'] = df['Product Name'].fillna('Unknown Product')
# Fill missing CustomerIDs with "Unknown Customer"
df['CustomerID'] = df['CustomerID'].fillna('Unknown Customer')

**4.Handle Negative Quantity Values**

In [ ]:
# Remove rows with negative quantity and negative unit price
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] >= 0)]
print("Removed rows with negative Quantity or UnitPrice.")

Removed rows with negative Quantity or UnitPrice.

**5. Feature Engineering**

In [ ]:
# Convert InvoiceDate to datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Extract Month
df['Month'] = df['InvoiceDate'].dt.month

# Create Season column
def assign_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'

df['Season'] = df['Month'].apply(assign_season)

In [ ]:
print(df)

       InvoiceNo StockCode                         Product Name  Quantity  \
0         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
1         536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
2         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
3         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
4         536365     22752         SET 7 BABUSHKA NESTING BOXES         2
...          ...       ...                                  ...       ...
532614    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
532615    581587     22556        PLASTERS IN TIN CIRCUS PARADE        12
532616    581587     22555            PLASTERS IN TIN STRONGMAN        12
532617    581587     22629                   SPACEBOY LUNCH BOX        12
532618   A563185         B                      Adjust bad debt         1

               InvoiceDate  UnitPrice        CustomerID         Country  \
0      2010-12-01 08:26:00       2.75           17850.0  United Kingdom
1      2010-12-01 08:26:00       4.25           17850.0  United Kingdom
2      2010-12-01 08:26:00       3.39           17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39           17850.0  United Kingdom
4      2010-12-01 08:26:00       7.65           17850.0  United Kingdom
...                    ...        ...               ...             ...
532614 2011-12-09 12:50:00       0.85           12680.0          France
532615 2011-12-09 12:50:00       1.65           12680.0          France
532616 2011-12-09 12:50:00       1.65           12680.0          France
532617 2011-12-09 12:50:00       1.95           12680.0          France
532618 2011-08-12 14:50:00   11062.06  Unknown Customer  United Kingdom

        Month  Season
0          12  Winter
1          12  Winter
2          12  Winter
3          12  Winter
4          12  Winter
...       ...     ...
532614     12  Winter
532615     12  Winter
532616     12  Winter
532617     12  Winter
532618      8  Summer

[531283 rows x 10 columns]

In [ ]:
df.shape

(531283, 10)

In [ ]:
# Save the cleaned dataset to Excel
df.to_excel('CLEANED_ECOMMERCE.xlsx', index=False)
print("Cleaned dataset saved as CLEANED_ECOMMERCE.xlsx")

Cleaned dataset saved as CLEANED_ECOMMERCE.xlsx